@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #DD7B8D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fade-in-left for only main content container */
.fade-in-left {
  animation: fadeInLeftSmall 280ms ease-out;
}

@keyframes fadeInLeftSmall {
  from {
    opacity: 0.0;
    transform: translateX(-6px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

:root::view-transition-old(root),
:root::view-transition-new(root) {
  animation-duration: 1000ms;
}